In [1]:
import sqlite3

In [2]:
sqlite3.connect("db1.sqlite3")

In [3]:
q="create table customer(id int, name varchar(250))"
con = sqlite3.connect("db1.sqlite3")
cur=con.cursor()
cur.execute(q)

In [4]:
q="insert into customer(id, name) values(1,'jay')"
cur.execute(q)

In [5]:
con.commit()

In [6]:
names=["jaganath","mounika","vishal","samba"]
import random
for i in range(2,102):
    q="insert into customer(id,name) values(%s,'%s')"%(i,random.choice(names))
    cur.execute(q)
    con.commit()

In [7]:
q="update customer set name='jayaram' where id=1"
cur.execute(q)
con.commit()

In [9]:
q="delete from customer where id=1"
cur.execute(q)
con.commit()

In [10]:
q="select * from customer"
cur.execute(q)

In [11]:
data = cur.fetchall()

In [12]:
data

[(2, 'vishal'),
 (3, 'jaganath'),
 (4, 'samba'),
 (5, 'samba'),
 (6, 'vishal'),
 (7, 'vishal'),
 (8, 'samba'),
 (9, 'vishal'),
 (10, 'jaganath'),
 (11, 'vishal'),
 (12, 'vishal'),
 (13, 'mounika'),
 (14, 'vishal'),
 (15, 'samba'),
 (16, 'jaganath'),
 (17, 'samba'),
 (18, 'jaganath'),
 (19, 'vishal'),
 (20, 'vishal'),
 (21, 'samba'),
 (22, 'samba'),
 (23, 'samba'),
 (24, 'samba'),
 (25, 'mounika'),
 (26, 'vishal'),
 (27, 'samba'),
 (28, 'mounika'),
 (29, 'mounika'),
 (30, 'vishal'),
 (31, 'mounika'),
 (32, 'vishal'),
 (33, 'mounika'),
 (34, 'vishal'),
 (35, 'mounika'),
 (36, 'mounika'),
 (37, 'mounika'),
 (38, 'vishal'),
 (39, 'jaganath'),
 (40, 'vishal'),
 (41, 'jaganath'),
 (42, 'samba'),
 (43, 'mounika'),
 (44, 'vishal'),
 (45, 'mounika'),
 (46, 'jaganath'),
 (47, 'mounika'),
 (48, 'jaganath'),
 (49, 'jaganath'),
 (50, 'jaganath'),
 (51, 'mounika'),
 (52, 'jaganath'),
 (53, 'jaganath'),
 (54, 'mounika'),
 (55, 'vishal'),
 (56, 'samba'),
 (57, 'mounika'),
 (58, 'samba'),
 (59, 'samba'),
 (60, 'mounika'),
 (61, 'mounika'),
 (62, 'vishal'),
 (63, 'mounika'),
 (64, 'jaganath'),
 (65, 'samba'),
 (66, 'vishal'),
 (67, 'mounika'),
 (68, 'samba'),
 (69, 'jaganath'),
 (70, 'jaganath'),
 (71, 'jaganath'),
 (72, 'mounika'),
 (73, 'mounika'),
 (74, 'samba'),
 (75, 'vishal'),
 (76, 'vishal'),
 (77, 'mounika'),
 (78, 'samba'),
 (79, 'jaganath'),
 (80, 'vishal'),
 (81, 'vishal'),
 (82, 'samba'),
 (83, 'jaganath'),
 (84, 'mounika'),
 (85, 'samba'),
 (86, 'samba'),
 (87, 'jaganath'),
 (88, 'vishal'),
 (89, 'jaganath'),
 (90, 'samba'),
 (91, 'vishal'),
 (92, 'samba'),
 (93, 'samba'),
 (94, 'samba'),
 (95, 'vishal'),
 (96, 'samba'),
 (97, 'samba'),
 (98, 'mounika'),
 (99, 'mounika'),
 (100, 'samba'),
 (101, 'vishal')]

In [13]:
q="select count(*) as c, name from customer group by(name) order by c"
cur.execute(q)
print(cur.fetchall())

[(20, 'jaganath'), (25, 'mounika'), (27, 'vishal'), (28, 'samba')]

In [14]:
import psycopg2

In [15]:
con = psycopg2.connect(user="postgres",password="root",host="localhost",port=5432,database="batch63")

In [16]:
cur = con.cursor()

In [17]:
q="create table customer(id int, name varchar(250))"
cur.execute(q)
names=["jaganath","mounika","vishal","samba"]
import random
for i in range(100):
    q="insert into customer(id,name) values(%s,'%s')"%(i,random.choice(names))
    cur.execute(q)
    con.commit()