In [1]:
10+20/3*4

36.66666666666667

In [2]:
# operator precidency

In [3]:
# wap to calculate whole sqaure of two numbers
a=10
b=20
print(a+b)

30

In [4]:
# wap to calculate whole sqaure of two numbers
a=10
b=20
print(a+b**3)

8010

In [5]:
# wap to calculate whole sqaure of two numbers
a=10
b=20
print(a+b**2)

410

In [6]:
# wap to calculate whole sqaure of two numbers
a=10
b=20
print((a+b)**2)

900

In [7]:
a=4

In [8]:
a**2

16

In [9]:
a**0.5

2.0

In [10]:
import math
math.sqrt(4)

2.0

In [12]:
math.log10(20)

1.3010299956639813

In [13]:
math.log10(10)

1.0

In [14]:
val1 = input("enter a value:")
print(val1,type(val1))

enter a value:python
python <class 'str'>

In [15]:
# take a name from the user and say hello to him.
name=input("enter name:")
print(name)

enter name:python
python

In [16]:
# take a name from the user and say hello to him.
name=input("enter name:")
print("Hello",name)

enter name:java
Hello java

In [17]:
# take two numbers from the user and do arithmatic operations..
val1=input("enter val1:")
val2=input("Enter val2:")
print("val1+val2")

enter val1:10
Enter val2:20
val1+val2

In [18]:
# take two numbers from the user and do arithmatic operations..
val1=input("enter val1:")
val2=input("Enter val2:")
print(val1+val2)

enter val1:10
Enter val2:20
1020

In [19]:
val1=input("enter val1:")
print(val1, type(val1))

enter val1:10
10 <class 'str'>

In [20]:
val1=input("enter val1:")
print(val1, type(val1))

enter val1:1.2
1.2 <class 'str'>

In [21]:
val1=input("enter val1:")
print(val1, type(val1))

enter val1:[10,20,30,40]
[10,20,30,40] <class 'str'>

In [22]:
val1=input("enter val1:")
print(val1, type(val1))

enter val1:{1:2,3:4}
{1:2,3:4} <class 'str'>

In [23]:
a="10"
print(a, type(a))

10 <class 'str'>

In [24]:
a=10
print(a, type(a))

10 <class 'int'>

In [25]:
a="10.23"
print(a, type(a))

10.23 <class 'str'>

In [26]:
a=10.23
print(a, type(a))

10.23 <class 'float'>

In [27]:
name="Jayaram"
print("name")

name

In [28]:
name="Jayaram"
print(name)

Jayaram

In [29]:
print("python")

python

In [30]:
print(python)

NameError: name 'python' is not defined

In [31]:
python="is a programing language"
print(python)

is a programing language

In [32]:
l="[1,2,3,4]"
print(l,type(l))

[1,2,3,4] <class 'str'>

In [33]:
l=[1,2,3,4]
print(l, type(l))

[1, 2, 3, 4] <class 'list'>

In [34]:
val1=input("enter val1:")
print(val1,type(val1))
val1_int = int(val1)
print(val1_int,type(val1_int))

enter val1:12
12 <class 'str'>
12 <class 'int'>

In [35]:
int("12")

12

In [36]:
int("12.34")

ValueError: invalid literal for int() with base 10: '12.34'

In [37]:
int(12.34)

12

In [38]:
float("12.34")

12.34

In [39]:
# take two numbers from the user and do arithmatic operations..
val1=input("enter val1:")
val2=input("Enter val2:")
f1=float(val1)
f2=float(val2)
print(f1+f2)

enter val1:10
Enter val2:20
30.0

In [40]:
# take two numbers from the user and do arithmatic operations..
val1=input("enter val1:")
val2=input("Enter val2:")
f1=float(val1)
f2=float(val2)
print(f1+f2)

enter val1:12.34
Enter val2:56.78
69.12

In [41]:
val1=input("enter val1:")
val2=input("Enter val2:")
print(float(val1+val2))

enter val1:10
Enter val2:20
1020.0

In [42]:
val1=input("enter val1:")
val2=input("Enter val2:")
print(float(val1)+float(val2))

enter val1:12
Enter val2:34
46.0

In [43]:
val1=input("enter val1:")
val2=input("Enter val2:")
print(float(val1)/float(val2))

enter val1:12
Enter val2:4
3.0

In [44]:
# take temp in foreignheat convert into celcius
f=input("enter temp in foreignheit:")
f_f = float(f)
print(f_f-32*5/9)

enter temp in foreignheit:64
46.22222222222222

In [45]:
# take temp in foreignheat convert into celcius
f=input("enter temp in foreignheit:")
f_f = float(f)
print((f_f-32)*5/9)

enter temp in foreignheit:64
17.77777777777778

In [46]:
# take m and x and b values from the user and calculate y value: y=m*x+b
m_val = input("enter m value:")
x_val = input("Enter x value:")
b_val = input("Enter b value:")
m=float(m_val)
x=float(x_val)
b=float(b_val)
print(m*x+b)

enter m value:12
Enter x value:34
Enter b value:56
464.0