In [1]:
n1=10
n2=12
n3=13
n4=20
m = (n1+n2+n3+n4)/4
x=(n1-m)**2+(n2-m)**2+(n3-m)**2+(n4-m)**4
print(x/4)

385.8916015625

In [3]:
n1=10
n2=12
n3=13
n4=20
m = (n1+n2+n3+n4)/4
x=(n1-m)**2+(n2-m)**2+(n3-m)**2+(n4-m)**4
variance=x/4
std = variance**0.5
print(variance)
print(std)

385.8916015625
19.644123843086003

In [4]:
import math
n1=10
n2=12
n3=13
n4=20
m = (n1+n2+n3+n4)/4
x=(n1-m)**2+(n2-m)**2+(n3-m)**2+(n4-m)**4
variance=x/4
std = math.sqrt(variance)
print(variance)
print(std)

385.8916015625
19.644123843086003

In [5]:
num_people = int(input("Enter number of people:"))
num_seats_per_bus = int(input("enter number of seats per bus:"))
print(num_people/num_seats_per_bus)

Enter number of people:250
enter number of seats per bus:50
5.0

In [6]:
num_people = int(input("Enter number of people:"))
num_seats_per_bus = int(input("enter number of seats per bus:"))
print(num_people/num_seats_per_bus)

Enter number of people:255
enter number of seats per bus:50
5.1

In [7]:
math.ceil(5.1)

6

In [ ]:
num_people = int(input("Enter number of people:"))
num_seats_per_bus = int(input("enter number of seats per bus:"))
print(math.ceil(num_people/num_seats_per_bus))

In [9]:
name="Jayaram"
age=2.45678
weight=13.456789
height=3.5612
# Name:jayaram, Age:2, Weight:13.46, Height:3.57
print("Name:Jayaram, Age:2, Weight:13.46, Height:3.57")

Name:Jayaram, Age:2, Weight:13.46, Height:3.57

In [10]:
print("Name:")

Name:

In [11]:
name="Jayaram"
age=2.45678
weight=13.456789
height=3.5612
# Name:jayaram, Age:2, Weight:13.46, Height:3.57
print("Name:",name)

Name: Jayaram

In [12]:
name="Jayaram"
age=2.45678
weight=13.456789
height=3.5612
# Name:jayaram, Age:2, Weight:13.46, Height:3.57
print("Name:",name,sep="")

Name:Jayaram

In [13]:
name="Jayaram"
age=2.45678
weight=13.456789
height=3.5612
# Name:jayaram, Age:2, Weight:13.46, Height:3.57
print("Name:",name,", Age:",sep="")

Name:Jayaram, Age:

In [14]:
name="Jayaram"
age=2.45678
weight=13.456789
height=3.5612
# Name:jayaram, Age:2, Weight:13.46, Height:3.57
print("Name:",name,", Age:",age,sep="")

Name:Jayaram, Age:2.45678

In [15]:
name="Jayaram"
age=2.45678
weight=13.456789
height=3.5612
# Name:jayaram, Age:2, Weight:13.46, Height:3.57
print("Name:",name,", Age:",int(age),sep="")

Name:Jayaram, Age:2

In [16]:
name="Jayaram"
age=2.45678
weight=13.456789
height=3.5612
# Name:jayaram, Age:2, Weight:13.46, Height:3.57
print("Name:",name,", Age:",int(age),", weight:",weight,sep="")

Name:Jayaram, Age:2, weight:13.456789

In [17]:
name="Jayaram"
age=2.45678
weight=13.456789
height=3.5612
# Name:jayaram, Age:2, Weight:13.46, Height:3.57
print("Name:",name,", Age:",int(age),", weight:",round(weight,2),sep="")

Name:Jayaram, Age:2, weight:13.46

In [19]:
name="Jayaram"
age=2.45678
weight=13.456789
height=3.5612
# Name:jayaram, Age:2, Weight:13.46, Height:3.56
print("Name:",name,", Age:",int(age),", weight:",round(weight,2),", Height:",round(height,2),sep="")

Name:Jayaram, Age:2, weight:13.46, Height:3.56

In [20]:
name="Jayaram"
age=2.45678
weight=13.456789
height=3.5612
# Name:jayaram, Age:2, Weight:13.46, Height:3.56
print("Name:",name,", Age:",int(age),", weight:",round(weight,2),", Height:",round(height,2),sep="")
print(f"Name:name")

Name:Jayaram, Age:2, weight:13.46, Height:3.56
Name:name

In [21]:
name="Jayaram"
age=2.45678
weight=13.456789
height=3.5612
# Name:jayaram, Age:2, Weight:13.46, Height:3.56
print("Name:",name,", Age:",int(age),", weight:",round(weight,2),", Height:",round(height,2),sep="")
print(f"Name:{name}")

Name:Jayaram, Age:2, weight:13.46, Height:3.56
Name:Jayaram

In [23]:
name="Jayaram"
age=2.45678
weight=13.456789
height=3.5612
# Name:jayaram, Age:2, Weight:13.46, Height:3.56
print("Name:",name,", Age:",int(age),", weight:",round(weight,2),", Height:",round(height,2),sep="")
print(f"Name:{name}, Age:{int(age)}, Weight:{round(weight,2)}, Height:{round(height,2)}") # template strings

Name:Jayaram, Age:2, weight:13.46, Height:3.56
Name:Jayaram, Age:2, Weight:13.46, Height:3.56

In [24]:
a=10
b=20
print(f"sum={a+b}")

sum=30

In [25]:
name="Jayaram"
age=2.45678
weight=13.456789
height=3.5612
# Name:jayaram, Age:2, Weight:13.46, Height:3.56
print("Name:",name,", Age:",int(age),", weight:",round(weight,2),", Height:",round(height,2),sep="")
print(f"Name:{name}, Age:{int(age)}, Weight:{round(weight,2)}, Height:{round(height,2)}") # template strings
#format specifiers
print("Name:%s")

Name:Jayaram, Age:2, weight:13.46, Height:3.56
Name:Jayaram, Age:2, Weight:13.46, Height:3.56
Name:%s

In [26]:
name="Jayaram"
age=2.45678
weight=13.456789
height=3.5612
# Name:jayaram, Age:2, Weight:13.46, Height:3.56
print("Name:",name,", Age:",int(age),", weight:",round(weight,2),", Height:",round(height,2),sep="")
print(f"Name:{name}, Age:{int(age)}, Weight:{round(weight,2)}, Height:{round(height,2)}") # template strings
#format specifiers
print("Name:%s",name)

Name:Jayaram, Age:2, weight:13.46, Height:3.56
Name:Jayaram, Age:2, Weight:13.46, Height:3.56
Name:%s Jayaram

In [27]:
name="Jayaram"
age=2.45678
weight=13.456789
height=3.5612
# Name:jayaram, Age:2, Weight:13.46, Height:3.56
print("Name:",name,", Age:",int(age),", weight:",round(weight,2),", Height:",round(height,2),sep="")
print(f"Name:{name}, Age:{int(age)}, Weight:{round(weight,2)}, Height:{round(height,2)}") # template strings
#format specifiers
print("Name:%s"%name)

Name:Jayaram, Age:2, weight:13.46, Height:3.56
Name:Jayaram, Age:2, Weight:13.46, Height:3.56
Name:Jayaram

In [28]:
name="Jayaram"
age=2.45678
weight=13.456789
height=3.5612
# Name:jayaram, Age:2, Weight:13.46, Height:3.56
print("Name:",name,", Age:",int(age),", weight:",round(weight,2),", Height:",round(height,2),sep="")
print(f"Name:{name}, Age:{int(age)}, Weight:{round(weight,2)}, Height:{round(height,2)}") # template strings
#format specifiers
print("Name:%s, Age:%s"%(name, age))

Name:Jayaram, Age:2, weight:13.46, Height:3.56
Name:Jayaram, Age:2, Weight:13.46, Height:3.56
Name:Jayaram, Age:2.45678

In [29]:
name="Jayaram"
age=2.45678
weight=13.456789
height=3.5612
# Name:jayaram, Age:2, Weight:13.46, Height:3.56
print("Name:",name,", Age:",int(age),", weight:",round(weight,2),", Height:",round(height,2),sep="")
print(f"Name:{name}, Age:{int(age)}, Weight:{round(weight,2)}, Height:{round(height,2)}") # template strings
#format specifiers
print("Name:%s, Age:%s, Weight:%s, Height:%s"%(name, age,weight,height))

Name:Jayaram, Age:2, weight:13.46, Height:3.56
Name:Jayaram, Age:2, Weight:13.46, Height:3.56
Name:Jayaram, Age:2.45678, Weight:13.456789, Height:3.5612

In [30]:
name="Jayaram"
age=2.45678
weight=13.456789
height=3.5612
# Name:jayaram, Age:2, Weight:13.46, Height:3.56
print("Name:",name,", Age:",int(age),", weight:",round(weight,2),", Height:",round(height,2),sep="")
print(f"Name:{name}, Age:{int(age)}, Weight:{round(weight,2)}, Height:{round(height,2)}") # template strings
#format specifiers
print("Name:%s, Age:%d, Weight:%s, Height:%s"%(name,age,weight,height))

Name:Jayaram, Age:2, weight:13.46, Height:3.56
Name:Jayaram, Age:2, Weight:13.46, Height:3.56
Name:Jayaram, Age:2, Weight:13.456789, Height:3.5612

In [31]:
name="Jayaram"
age=2.45678
weight=13.456789
height=3.5612
# Name:jayaram, Age:2, Weight:13.46, Height:3.56
print("Name:",name,", Age:",int(age),", weight:",round(weight,2),", Height:",round(height,2),sep="")
print(f"Name:{name}, Age:{int(age)}, Weight:{round(weight,2)}, Height:{round(height,2)}") # template strings
#format specifiers
print("Name:%s, Age:%d, Weight:%f, Height:%f"%(name,age,weight,height))

Name:Jayaram, Age:2, weight:13.46, Height:3.56
Name:Jayaram, Age:2, Weight:13.46, Height:3.56
Name:Jayaram, Age:2, Weight:13.456789, Height:3.561200

In [32]:
name="Jayaram"
age=2.45678
weight=13.456789
height=3.5612
# Name:jayaram, Age:2, Weight:13.46, Height:3.56
print("Name:",name,", Age:",int(age),", weight:",round(weight,2),", Height:",round(height,2),sep="")
print(f"Name:{name}, Age:{int(age)}, Weight:{round(weight,2)}, Height:{round(height,2)}") # template strings
#format specifiers
print("Name:%s, Age:%d, Weight:%.2f, Height:%.2f"%(name,age,weight,height))

Name:Jayaram, Age:2, weight:13.46, Height:3.56
Name:Jayaram, Age:2, Weight:13.46, Height:3.56
Name:Jayaram, Age:2, Weight:13.46, Height:3.56

In [33]:
print("%x"%234)

ea

In [34]:
print("%o"%234)

352

In [35]:
print("%b"%234)

ValueError: unsupported format character 'b' (0x62) at index 1

In [36]:
print("hello")
print("how are you?")

hello
how are you?

In [37]:
print?

In [38]:
print("hello", end=" ")
print("how are you?")

hello how are you?

In [39]:
print("hello", end=" ")
print("how are you?")
print("today")

hello how are you?
today

In [40]:
print("hello", end=" ")
print("how are you?", end=" ")
print("today")

hello how are you? today

In [41]:
print("hi how are you?")

hi how are you?

In [43]:
print("hi, \nhow are you?")

hi,
how are you?

In [45]:
print("hi, \nhow are you?\tI am OK!!")

hi,
how are you?	I am OK!!

In [46]:
#\n
print("\n")

In [47]:
#\n
print("\\n")

\n

In [48]:
s="dkljsdf\nfsdfsd\n\sdfsdfsdf\nsdfdsf\nsdfsdf\nsdfsdf\nfdsfsd\nsdfsd"
print(s)

dkljsdf
fsdfsd
\sdfsdfsdf
sdfdsf
sdfsdf
sdfsdf
fdsfsd
sdfsd

In [49]:
s="dkljsdf\\nfsdfsd\\n\sdfsdfsdf\\nsdfdsf\\nsdfsdf\\nsdfsdf\\nfdsfsd\\nsdfsd"
print(s)

dkljsdf\nfsdfsd\n\sdfsdfsdf\nsdfdsf\nsdfsdf\nsdfsdf\nfdsfsd\nsdfsd

In [50]:
s=r"dkljsdf\nfsdfsd\n\sdfsdfsdf\nsdfdsf\nsdfsdf\nsdfsdf\nfdsfsd\nsdfsd"
print(s)

dkljsdf\nfsdfsd\n\sdfsdfsdf\nsdfdsf\nsdfsdf\nsdfsdf\nfdsfsd\nsdfsd

In [51]:
s="dkljsdf\nfsdfsd\n\sdfsdfsdf\nsdfdsf\nsdfsdf\nsdfsdf\nfdsfsd\nsdfsd"
print(r's)

SyntaxError: EOL while scanning string literal (<ipython-input-51-5fd3b81e21cf>, line 2)

In [52]:
s="dkljsdf\nfsdfsd\n\sdfsdfsdf\nsdfdsf\nsdfsdf\nsdfsdf\nfdsfsd\nsdfsd"
print(r's')

s

In [53]:
k="dkljsdf\nfsdfsd\n\sdfsdfsdf\nsdfdsf\nsdfsdf\nsdfsdf\nfdsfsd\nsdfsd"
print("%r"%k)

'dkljsdf\nfsdfsd\n\\sdfsdfsdf\nsdfdsf\nsdfsdf\nsdfsdf\nfdsfsd\nsdfsd'

In [55]:
k="dkljsdf\nfsdfsd\n\sdfsdfsdf\nsdfdsf\nsdfsdf\nsdfsdf\nfdsfsd\nsdfsd"
print(k)

dkljsdf
fsdfsd
\sdfsdfsdf
sdfdsf
sdfsdf
sdfsdf
fdsfsd
sdfsd

In [54]:
k="dkljsdf\nfsdfsd\n\sdfsdfsdf\nsdfdsf\nsdfsdf\nsdfsdf\nfdsfsd\nsdfsd"
print("%s"%k)

dkljsdf
fsdfsd
\sdfsdfsdf
sdfdsf
sdfsdf
sdfsdf
fdsfsd
sdfsd

In [ ]:
# it's Toomuch temparature in "HYDERABAD".

In [56]:
len("as")

2

In [59]:
len("+-")

2

In [60]:
len("\n")

1

In [61]:
print("it's Toomuch temparature in "HYDERABAD"")

SyntaxError: invalid syntax (<ipython-input-61-36785a6cd3c2>, line 1)

In [62]:
print('it's Toomuch temparature in "HYDERABAD"')

SyntaxError: invalid syntax (<ipython-input-62-ae2b16f4e633>, line 1)

In [63]:
print("it's")

it's

In [64]:
print("it's Toomuch temparature in \"HYDERABAD\"")

it's Toomuch temparature in "HYDERABAD"

In [65]:
print('it\'s Toomuch temparature in "HYDERABAD"')

it's Toomuch temparature in "HYDERABAD"

In [66]:
print("asdasd");print("asdasdasd")

asdasd
asdasdasd

In [67]:
a=10;b=20;c=30
print(a,b,c)

10 20 30

In [68]:
print("dfasjkfhdsajfdsjpofjsdopiafjopsjkifposdikfopidsopppppppppppppppppppppppppppisdfoidsfidspofidspofisdpofisdpofisdopifdspoifposdifposdifpsdfisdfisdfisdpifsdpoifposdifdsoifopdsifodsifopdsif")

dfasjkfhdsajfdsjpofjsdopiafjopsjkifposdikfopidsopppppppppppppppppppppppppppisdfoidsfidspofidspofisdpofisdpofisdopifdspoifposdifposdifpsdfisdfisdfisdpifsdpoifposdifdsoifopdsifodsifopdsif

In [69]:
print("dfasjkfhdsajfdsjpofjsdopiafjopsjkifposdikfopidsopppppppppppppppppppppppppppisdfoidsfidsp
      ofidspofisdpofisdpofisdopifdspoifposdifposdifpsdfisdfisdfisdpifsdpoifposdifdsoifopdsifodsifopdsif")

SyntaxError: EOL while scanning string literal (<ipython-input-69-d70b5202c866>, line 1)

In [ ]:
print("dfasjkfhdsajfdsjpofjsdopiafjopsjkifposdikfopidsopppppppppppppppppppppppppppisdfoidsfidsp
      ofidspofisdpofisdpofisdopifdspoifposdifposdifpsdfisdfisdfisdpifsdpoifposdifdsoifopdsifodsifopdsif")